body{
    background-image: url(Images/g.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.Ghost{
    position:absolute;
    left: 10%;
    bottom: 20%;
    animation-name: bounce;
    animation-iteration-count: infinite ;
    animation-direction: alternate;
    animation-duration: 2.5s;
}
@keyframes bounce{
    from{transform: translateX(670%)}
}
#point_cout{
    user-select: none;
    text-align: center;
    font-size: 5em;
    font-family: Super boys;
    color: #ffffff;
}
.point_box{
    user-select: none;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 45%;
    top: 10%;
}
.points{
    background-color: green;
    width: 100vw;
    height: 100vh;
}